iot/node-red-iot-device.json
[{
		"id": "bb0b9928.ab3578",
		"type": "debug",
		"z": "3731754e.45336a",
		"name": "Log Message to Screen",
		"active": true,
		"console": "false",
		"complete": "true",
		"x": 668,
		"y": 403.9090824127197,
		"wires": []
	}, {
		"id": "b8ca68a4.b02e08",
		"type": "function",
		"z": "3731754e.45336a",
		"name": "Prep IoT Message",
		"func": "\nvar data = msg.payload\n\nmsg.payload = { \n    deviceId: \"madsen1\", \n    protocol: \"amqp\", \n    datetime: new Date().toISOString(),\n    data: data };\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 362.9999694824219,
		"y": 414,
		"wires": [["95c1ff1e.c9c35", "bb0b9928.ab3578"]]
	}, {
		"id": "3072ba94.9bdad6",
		"type": "fs-file-lister",
		"z": "3731754e.45336a",
		"name": "Get List of Data Files",
		"start": "/home/iot/datasample",
		"pattern": "*",
		"path": true,
		"single": true,
		"depth": 0,
		"stat": false,
		"x": 323.9999694824219,
		"y": 211,
		"wires": [["4091eba5.5e8194"]]
	}, {
		"id": "4091eba5.5e8194",
		"type": "function",
		"z": "3731754e.45336a",
		"name": "chooseRandomFile",
		"func": "\n\nitems = msg.payload;\n\nvar item = items[Math.floor(Math.random()*items.length)];\n//node.warn(item);\nmsg.filename = item;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 539.9999694824219,
		"y": 209,
		"wires": [["c1cd9b9c.b2d018"]]
	}, {
		"id": "e215a961.8145f8",
		"type": "inject",
		"z": "3731754e.45336a",
		"name": "Manual Data Trigger",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 320.9999694824219,
		"y": 125,
		"wires": [["3072ba94.9bdad6"]]
	}, {
		"id": "d598ba9d.de9728",
		"type": "csv",
		"z": "3731754e.45336a",
		"name": "Convert string to messages",
		"sep": ",",
		"hdrin": true,
		"hdrout": "",
		"multi": "one",
		"ret": "\\n",
		"temp": "",
		"x": 332.4999694824219,
		"y": 304,
		"wires": [["3531bdf2.0e61f2"]]
	}, {
		"id": "c1cd9b9c.b2d018",
		"type": "file in",
		"z": "3731754e.45336a",
		"name": "LoadFileAsString",
		"filename": "",
		"format": "utf8",
		"x": 747.4999694824219,
		"y": 208,
		"wires": [["d598ba9d.de9728"]]
	}, {
		"id": "f5861c0.02dc4e8",
		"type": "delay",
		"z": "3731754e.45336a",
		"name": "",
		"pauseType": "rate",
		"timeout": "1",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 790.4999694824219,
		"y": 306,
		"wires": [["b8ca68a4.b02e08"]]
	}, {
		"id": "3531bdf2.0e61f2",
		"type": "function",
		"z": "3731754e.45336a",
		"name": "Add Run ID to message",
		"func": "\nvar str = msg.filename\nvar fname = str.split('\\\\').pop().split('/').pop()\nmsg.payload.batchID = fname\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 586.9999694824219,
		"y": 306,
		"wires": [["f5861c0.02dc4e8"]]
	}, {
		"id": "95c1ff1e.c9c35",
		"type": "mqtt out",
		"z": "3731754e.45336a",
		"name": "",
		"topic": "test",
		"qos": "2",
		"retain": "",
		"broker": "826b7cd.ab7d38",
		"x": 625.2727355957031,
		"y": 483.9090881347656,
		"wires": []
	}, {
		"id": "826b7cd.ab7d38",
		"type": "mqtt-broker",
		"z": "",
		"broker": "10.10.12.129",
		"port": "8883",
		"tls": "3198f30e.ceb7fc",
		"clientid": "",
		"usetls": true,
		"compatmode": true,
		"keepalive": "60",
		"cleansession": true,
		"willTopic": "",
		"willQos": "0",
		"willPayload": "",
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": ""
	}, {
		"id": "3198f30e.ceb7fc",
		"type": "tls-config",
		"z": "",
		"name": "",
		"cert": "",
		"key": "",
		"ca": "/home/iot/ca.crt",
		"verifyservercert": false
	}
]