iot/node-red-gpio-device.json
[{
		"id": "8a992b1d.92e008",
		"type": "rpi-gpio out",
		"z": "38505515.fa669a",
		"name": "",
		"pin": "16",
		"set": "",
		"level": "0",
		"out": "out",
		"x": 876,
		"y": 700,
		"wires": []
	}, {
		"id": "85009011.54d11",
		"type": "rpi-gpio in",
		"z": "38505515.fa669a",
		"name": "",
		"pin": "12",
		"intype": "down",
		"debounce": "300",
		"read": false,
		"x": 141,
		"y": 292,
		"wires": [["b35af34.e3f951"]]
	}, {
		"id": "671ad2a0.ca6bfc",
		"type": "debug",
		"z": "38505515.fa669a",
		"name": "Log Message to Screen",
		"active": true,
		"console": "false",
		"complete": "true",
		"x": 660,
		"y": 533,
		"wires": []
	}, {
		"id": "bf7c24d.b66e9d8",
		"type": "function",
		"z": "38505515.fa669a",
		"name": "Prep IoT Message",
		"func": "\nvar data = msg.payload\n\nmsg.payload = { \n    deviceId: \"madsen1\", \n    protocol: \"amqp\", \n    datetime: new Date().toISOString(),\n    data: data };\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 354.9999694824219,
		"y": 543.0909175872803,
		"wires": [["b361645f.c2fab8", "671ad2a0.ca6bfc", "729bc7a3.7fa5a8"]]
	}, {
		"id": "b35af34.e3f951",
		"type": "fs-file-lister",
		"z": "38505515.fa669a",
		"name": "Get List of Data Files",
		"start": "/home/iot/datasample",
		"pattern": "*",
		"path": true,
		"single": true,
		"depth": 0,
		"stat": false,
		"x": 315.9999694824219,
		"y": 340.0909175872803,
		"wires": [["fac8f7f8.c89698"]]
	}, {
		"id": "fac8f7f8.c89698",
		"type": "function",
		"z": "38505515.fa669a",
		"name": "chooseRandomFile",
		"func": "\n\nitems = msg.payload;\n\nvar item = items[Math.floor(Math.random()*items.length)];\n//node.warn(item);\nmsg.filename = item;\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 531.9999694824219,
		"y": 338.0909175872803,
		"wires": [["d06d1168.66db4"]]
	}, {
		"id": "a15cbb8.c075948",
		"type": "csv",
		"z": "38505515.fa669a",
		"name": "Convert string to messages",
		"sep": ",",
		"hdrin": true,
		"hdrout": "",
		"multi": "one",
		"ret": "\\n",
		"temp": "",
		"x": 324.4999694824219,
		"y": 433.0909175872803,
		"wires": [["1bccc29e.6f860d"]]
	}, {
		"id": "d06d1168.66db4",
		"type": "file in",
		"z": "38505515.fa669a",
		"name": "LoadFileAsString",
		"filename": "",
		"format": "utf8",
		"x": 739.4999694824219,
		"y": 337.0909175872803,
		"wires": [["a15cbb8.c075948"]]
	}, {
		"id": "99c567a2.492498",
		"type": "delay",
		"z": "38505515.fa669a",
		"name": "",
		"pauseType": "rate",
		"timeout": "1",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 782.4999694824219,
		"y": 435.0909175872803,
		"wires": [["bf7c24d.b66e9d8"]]
	}, {
		"id": "1bccc29e.6f860d",
		"type": "function",
		"z": "38505515.fa669a",
		"name": "Add Run ID to message",
		"func": "\nvar str = msg.filename\nvar fname = str.split('\\\\').pop().split('/').pop()\nmsg.payload.batchID = fname\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 578.9999694824219,
		"y": 435.0909175872803,
		"wires": [["99c567a2.492498"]]
	}, {
		"id": "b361645f.c2fab8",
		"type": "mqtt out",
		"z": "38505515.fa669a",
		"name": "",
		"topic": "test",
		"qos": "2",
		"retain": "",
		"broker": "826b7cd.ab7d38",
		"x": 617.2727355957031,
		"y": 613.0000057220459,
		"wires": []
	}, {
		"id": "729bc7a3.7fa5a8",
		"type": "trigger",
		"z": "38505515.fa669a",
		"op1": "1",
		"op2": "0",
		"op1type": "str",
		"op2type": "str",
		"duration": "250",
		"extend": false,
		"units": "ms",
		"reset": "",
		"name": "",
		"x": 648,
		"y": 703,
		"wires": [["8a992b1d.92e008"]]
	}, {
		"id": "826b7cd.ab7d38",
		"type": "mqtt-broker",
		"z": "",
		"broker": "10.10.12.129",
		"port": "8883",
		"tls": "3198f30e.ceb7fc",
		"clientid": "",
		"usetls": true,
		"compatmode": true,
		"keepalive": "60",
		"cleansession": true,
		"willTopic": "",
		"willQos": "0",
		"willPayload": "",
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": ""
	}, {
		"id": "3198f30e.ceb7fc",
		"type": "tls-config",
		"z": "",
		"name": "",
		"cert": "",
		"key": "",
		"ca": "/home/iot/ca.crt",
		"verifyservercert": false
	}
]